.table {
    margin: 20px auto;
    border-collapse: separate;
    border-spacing: 0;
    width: 60%;
    text-align: center;
    overflow: hidden;
    border-radius: 10px;
}

.tr {
    background-color: var(--hover-color);
    color: var(--secondary-color);
}

.thd {
    border: 2px solid var(--hover-color);
    border-radius: 10px;
    padding: 10px;
}